html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: radial-gradient(ellipse at 50% 0%, #D4E6F1 0%, #EAECEE 50%, #FFFFFF 100%);
  box-shadow: 2px 2px 2px #E5E8E8;
}

.nav {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav h1 {
  cursor: pointer;
}

.nav p {
  align-self: start;
  cursor: pointer;
}

.nav img {
  height: 42px;
  padding: 0rem 0.5rem;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.wrapper {
  padding: 0.5rem 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper__blog {
  align-self: end;
  margin-left: 2rem;
}

.wrapper__blog a{
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}

.wrapper__blog span{
  padding: 0 5px;
  color: black;
}

.report {
  width: 100%;
}

.section {
  /*
  padding: 2rem;
  box-shadow: 2px 2px 5px 5px #E5E8E8;
  */
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.subsection {
  display: flex;
  margin: 1rem 0rem;
}

.subsection__panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.subsection__panel__leverage {
  display: flex;
}

.dashboard {
  display: block;
  margin: 0.5rem 0rem;
}

.figure-wrapper { 
  border: solid;
  border-color: #E5E8E8;
  border-width: thin;
  flex: 1;
  display: flex;
}

.figure {
  margin: auto;
  flex-grow: 1;
}

.table .figure {
  margin: 0;
}

#current_position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current_position h1 {
  font-size: 50px;
  font-weight: 100;
}

#leverageGauges {
  display: flex;
  justify-content: center;
}

#portfolioTimeline {
  max-width: 900px;
  min-height: 500px;
}

.footer {
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.footer img {
  height: 14px;
  padding: 0 5px;
}

@media screen and (max-width: 700px) {
  .nav {
    padding: 2rem 1rem;
  }

  .wrapper__blog {
    margin-right: 2rem;
  }

  .wrapper {
    padding: 0.8rem;
  }

  #portfolio_timeline {
    min-height: 350px;
  }

  .subsection {
    flex-direction: column;
    margin: 1rem 0rem;
  }

  .footer {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
